<form action="action_page.php">
    <div class="container">
        <h6 style="color:white; font-weight: normal; margin-bottom: 0px;">Sign In</h6>

        <div>
            <label for="email" style="color:white;  ">Email:</label>
            <input type="text" style="color:white; width: 50px;" placeholder="Email*" name="email" required>
        </div>
        
        <div>
            <label for="psw" style="color:white;">Password:</label>
            <input type="password" style="color:white; width: 50px;" placeholder="Password*" name="psw" required>
        </div>
        
        <div>
        <button type="Signup" class="Signup">Signin</button>
    </div>


    </div>
    
</form>
