<div class="w-100 p-5 scroll" style="background-color: black;">
    <html>
    <head>
    </head>
    
    <body style="background-color:black;">
    
    <h4 style="color:white; text-align: center;"><b>Welcome to MetaNin!</b></h4>
    <h6 style="color:white; text-align: center;">Metanin last updated in 14.01.21</h6>
    <h2 style="color:blue; text-align: center;">Let me know if anything is outdated (balance changes, new weapons, new jutsus, etc..)
    <br>Deviax#6094<br><br><br></h2>

    
    <h6 style="color:white;">25.06.21</h6>
        <ul style="color: white; text-align: center; list-style-type: none;">
            <li>- Added Adamantine Staff</li>
            <li>- Added new pipe and updated dmg on both/li>
            <li>- Updated Bubble jutsus dmg</li>
            <li>- Updated Crystal Fan & Blood Iron Fan dmg</li>
            <li>- Updated Poison Scalpel dmg</li>
            <li>- Updated Blood Tonfas base dmg<br><br></li>
          </ul>  
    
    <h6 style="color:white;"><br><br>13-14.01.21:</h6>
        <ul style="color: white; text-align: center; list-style-type: none;">
            <li>Land of iron content Added!</li>
            <li>- Added Snow leopard, Emporer Penguin, Samurai and horned samurai to metagrinder (thanks hageshi for some of the data)</li>
            <li>- Added Raid Points Bonus to metagrinder</li>
            <li>- Added Crystal Fan, Blood Iron Fan and Kyuketsuki to weapons list</li>
            <li>- Added Murasama (after buff) to weapons list</li>
            <li>- Fixed nuibari and other fort buff weapons not giving fort (thanks zabuza for letting me know)</li>
            <li>- Updated Vacuum Sphere to reflect balance change (cast time nerf)</li>
            <li>- Updated Wall of fame with latest Kages,chunnis and jonins</li>
        </ul>  
    
    </body>
    </html> 
    </div>
