<div class="w-100 p-5 h-100" style="background-color: black;">
    <style>
        h3{text-align: center; font-family: 'Times New Roman', Times, serif}
        h6{text-align: center; font-weight: normal; font-family: 'Times New Roman', Times, serif;}
    </style>
    <html>

        <h2 style="color:white; text-align: center;font-weight: normal;">About Nin Online</h2>
        <h6 style="color:white; font-weight: normal;">Nin Online is a 2D Free-to-Play MMORPG where you play as yourself in the Ninja world!</h6>
        <h6 style="color:white;font-weight: normal;">Choose your village and become the most powerful ninja in it.</h6>
        <h6 style="color:white;font-weight: normal;">It is a community driven game, where the community makes decisions for the game world and where RP is strongly encouraged.<br><br></h6>
        <h6 style="color:white;font-weight:normal;"><a href="https://www.ninonline.org/forum/index.php">Play now!</a><br><br><br><br></h6>

        <h2 style="color:white; text-align: center;font-weight: normal;">About MetaNin</h2>
        <h6 style="color:white;font-weight:normal;"> Well, Im Deviax, Devoted Nin player for almost 2 years now.</h6>
        <h6 style="color:white;font-weight:normal;"> I love this game, i love the community, So i made this website to help the community :)</h6>
        <h6 style="color:white;font-weight:normal;"> Thats it, Have fun!</h6>


    </html>
