
<div class="background-black">

    <div class="parent">  
    <div class="left">
    MainStats
    
    <div class="search-container">
    <div class="boxed">
    Name
    </div>
    <input type="text" placeholder="My OP Build" name="search">
    </div>
    
    <div class="mastery-container">
    <select name="mastery1" id="mastery" style=" width: 47%;">
    <option value="Mastery:">Mastery:</option>
    <option value="None">None</option>
    <option value="Earth">Earth</option>
    <option value="Wind">Wind</option>
    <option value="Fire">Fire</option>
    <option value="Water">Water</option>
    <option value="Lightning">Lightning</option>
    <option value="Medic">Medic</option>
    <option value="Tai">Tai</option>
    <option value="Weapons Master">Weapons Master</option>
    </select>
    
    <select name="mastery2" id="mastery" style="width: 47%;">
    <option value="Mastery:">Mastery:</option>
    <option value="None">None</option>
    <option value="Earth">Earth</option>
    <option value="Wind">Wind</option>
    <option value="Fire">Fire</option>
    <option value="Water">Water</option>
    <option value="Lightning">Lightning</option>
    <option value="Medic">Medic</option>
    <option value="Tai">Tai</option>
    <option value="Weapons Master">Weapons Master</option>
    </select>
    
    </div>

    <div class="stat-container">

    <div class="stat">
    <div class="white-box-blackL">
    STR
    </div>
    <input type="text" id="STR" placeholder= "5" name="STR"/>
    </div>
    
    <div class="stat">
        <div class="white-box-blackL">
        AGI
        </div>
        <input type="text" id="STR" placeholder= "5" name="STR"/>
        </div>
    
        <div class="stat">
            <div class="white-box-blackL">
            INT
            </div>
            <input type="text" id="STR" placeholder= "5" name="STR" />
            </div>

            <div class="stat">
                <div class="white-box-blackL">
                FRT
                </div>
                <input type="text" id="STR" placeholder= "5" name="STR" />
                </div>

                <div class="stat">
                    <div class="white-box-blackL">
                    CHK
                    </div>
                    <input type="text" id="STR" placeholder= "5" name="STR" />
                    </div>

    </div>
    <div class="bottom-scontainer">

    <div class="bottom-stat">
        <div class="five">5</div>
     </div>

     <div class="bottom-stat">
        <div class="five">5</div>
     </div>

     <div class="bottom-stat">
        <div class="five">5</div>
     </div>

     <div class="bottom-stat">
        <div class="five">5</div>
     </div>

     <div class="bottom-stat">
        <div class="five">5</div>
     </div>

    </div>

    <div class="grey-black-container">
        <div class="gb-container">
            <div class="lvl-container">Current Level:1</div>
        </div>
        <div class="gb-container">
            <div class="stats-left">Points Left:345</div>
        </div>
        <div class="weapon-container">
            <select name="mastery1" id="mastery" style=" width: 100%; height: 80%;">
            <option value="Weapon:" style="background-color:rgb(27, 44, 27); color: white;">Weapon:</option>
            <option value="None" style="background-color:rgb(27, 44, 27); color: white;">None</option>
            <option value="Pressure Point Needle">Pressure Point Needle</option>
            <option value="Kunais:" style="background-color:rgb(27, 44, 27); color: white;">Kunais:</option>
            <option value="Posion Kunai">Poison Kunai</option>
            <option value="Adamantine Staff">Adamantine Staff</option>
            <option value="Tai:" style="background-color:rgb(27, 44, 27); color: white;">Tai:</option>
            <option value="Tonfas">Tonfas</option>
            <option value="Blood Tonfas">Blood Tonfas</option>
            <option value="Demon Claws">Demon Claws</option>
            <option value="Swords:" style="background-color:rgb(27, 44, 27); color: white;">Swords:</option>
            <option value="Wooden Katana">Wooden Katana</option>
            <option value="Broad Sword">Broad Sword</option>
            <option value="Butcher Sword">Butcher Sword</option>
            <option value="Nikuya">Nikuya</option>
            <option value="Religious Katana">Religious Katana</option>
            <option value="Twin Fangs">Twin Fangs</option>
            <option value="Shirokata">Shirokata</option>
            <option value="Bandit Blade">Bandit Blade</option>
            <option value="Bone Sword">Bone Sword</option>
            <option value="Stylish Sword">Stylish Sword</option>
            <option value="Blood Katana">Blood Katana</option>
            <option value="Iron Scythe">Iron Scythe</option>
            <option value="Muramasa">Muramasa</option>
            <option value="Kyuketsuki">Kyuketsuki</option>
            <option value="Fans:" style="background-color:rgb(27, 44, 27); color: white;">Fans:</option>
            <option value="Black Fan">Black Fan</option>
            <option value="Double Fan">Double Fan</option>
            <option value="Blue Fan">Blue Fan</option>
            <option value="Crystal Fan">Crystal Fan</option>
            <option value="Blood Iron Fan">Blood Iron Fan</option>
            <option value="Pipes:" style="background-color:rgb(27, 44, 27); color: white;">Pipes:</option>
            <option value="Bubble Pipe (Lvl 10)">Bubble Pipe (Lvl 10)</option>
            <option value="Bubble Pipe (Lvl 35)">Bubble Pipe (Lvl 35)</option>
            <option value="Seathorn">Seathorn</option>
            <option value="7SM:" style="background-color:rgb(27, 44, 27); color: white;">7SM:</option>
            <option value="Kubikiribocho">Kubikiribocho</option>
            <option value="Shibuki">Shibuki</option>
            <option value="Nuibari">Nuibari</option>
            <option value="Kiba">Kiba</option>
            <option value="Kabutowari">Kabutowari</option>
            <option value="Samehada">Samehada</option>
            <option value="Village Orgs:" style="background-color:rgb(27, 44, 27); color: white;">Village Orgs:</option>
            <option value="Leaf Anbu">Leaf Anbu</option>
            <option value="Sand Anbu">Sand Anbu</option>
            <option value="Hunter-Nin Water Whip">Hunter-Nin Water Whip</option>
            <option value="Puppet Coffin">Puppet Coffin</option>
            </select>
        </div>



    </div>



    </div>
    
    <div class="right">
        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
    </div>
    
    </div> 
    </div>
    
