<app-top-bar>Loading</app-top-bar>
<app-foot-bar>Loading</app-foot-bar>
<div class="w-100 p-5" style="background-color: black;">
<html>
<head>
<style>
h5 {text-align: center;}
h6 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body style="background-color:black;">

<h5 style="color:white;"><b>Welcome to MetaNin!</b></h5>
<h6 style="color:white;">Metanin last updated in 14.01.21</h6>
<h2 style="color:blue;">Let me know if anything is outdated (balance changes, new weapons, new jutsus, etc..)
Deviax#6094</h2>

<p style="color:white;">25.06.21</p>


</body>
</html> 



</div>

