<app-top-bar>Loading</app-top-bar>
<app-foot-bar>Loading</app-foot-bar>
<div class = "flexbox">

<ul class="flex-container">
<li class="flex-item">Main Stats</li>
<li class="flex-item">Best Combo: (Work in progress, may not be accurate yet)</li>
</ul>
<div class = "mastery">
<ul class = mastery-dropdown>
<li><a href="#Mastery:">Mastery</a>
  <li><a href="#None">None</a>
  <li><a href="#Earth">Earth</a>
  <li><a href="#Wind">Wind</a>
  <li><a href="#Fire">Fire</a>
  <li><a href="#Water">Water</a>
  <li><a href="#Lightnin">Lightning</a>
  <li><a href="#Medic">Medic</a>
  <li><a href="#Tai">Tai</a>
  <li><a href="#Weapon Master">Weapon Master</a>

  </li>
</ul>
</div>


</div>

