
div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}
:host{
    padding: 10px 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
input{
    width: 190px !important;
    color: black;
}
label{
    margin-bottom: 5px;
}
button{
    
    width: 60px;
}
.container{
    margin-left: 75px;
}
.button-container{
    display: flex;
    flex-direction: row;
}