<form #postForm = "ngForm" action="action_page.php" (ngSubmit) = "onSubmit(postForm)">
    <div class="container">
        <h6 style="color:white; font-weight: normal; margin-bottom: 0px;">Sign Up</h6>

        <div>
            <label for="email" style="color:white;  ">Email:</label>
            <input type="text" style= "width: 50px;" placeholder="Email*" name="email" ngModel name = "email" required email>
        </div>
        <div>
            <label for="psw" style="color:white;">Password:</label>
            <input type="password" style="width: 50px;" placeholder="Password*"ngModel name = "password" required password minlength = "8" > 
        </div>
        <div class= "button-container">
        <button type="submit" class="Signup" [disabled] = "!postForm.valid">Signup</button>
    </div>


    </div>
    
</form>