<nav>
<ul>

<li class="nav-item">
<a class="nav-link text-white" href="/MetaNin"><b>MetaNin</b></a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="/About">About</a>
</li>

<li class="nav-item">
<a class="nav-link text-white active" href="/Create">Create</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="/Explore">Explore</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="/MetaMap">MetaMap</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="/MetaGrinder">MetaGrinder</a>
</li>

<li class="nav-item" style="width: 200px;">
<a class="nav-link text-white" href="/WallOfFame">Wall Of Fame</a>
</li>

</ul>

<ul>
<li class="nav-item">
<a class="nav-link text-white" href="/SignIn">Signin</a>
</li>

<li class="nav-item">
<a class="nav-link text-white px-3" href="/SignUp">Signup</a>
</li>

</ul>

</nav>